<link rel="stylesheet" href="/static/css/post.css" />
<div class="container">
  <div id="posts-section" class="post-container">
    <div class="page_navigation">
      <nav aria-label="Page navigation example">
        <ul class="pagination"></ul>
      </nav>
    </div>
    <ul class="posts-list"></ul>
  </div>
</div>

<script src="/static/js/post.js"></script>
